/*La adapacion a distintas pantallas cumple para tres de las cuatro secciones de la pagina, la seccion de formulario no llegue a terminarla
Inicio, objetivos y productos cumple con el responsive en tres puntos, particularmente optimizada como se indica
*/

@media all and (min-width:400px) and (max-width:600px){/* OPTIMIZADA PARA VER A 600px X 540px*/
    body{
        background-color: rgb(3, 3, 3, .1);
    }
    .footer{
        height: 10%;
    }
    .pie{     
        width: 80%;  
        height: 60%;
        font-size: small; 

         
    }
    .header {
        height: 130px;

    }
    .menu{
        padding: 0;
        height: 50px;
    }
    .logo a{
        font-size: 15px;
        text-align: center;
    }
    
    .nav a{
        text-align: center;
        
        font-size: 10px;
        
    }
    .texto-principal h2{
        font-size: 15px;
    }
    .obj img{
        width: 30%;
    }

    .obj p{
        font-size: 1em;
        font-style: italic;
    }
    main{
        display: block;
    }

    #Inicio{

    
        width: 100%;    
        
        height: 100%;
       
       /* scroll-snap-align: start;*/
        
        
    }

}


@media all and (min-width:900px) and (max-width:960px){ /*OPTIMIZADA PARA VER EN 960X540px)*/
    body{
        background-color: rgb(3, 3, 3, .1);
    }
    .pie{     
        width: 80%;   
         
    }
  
    .logo a{
        color: white;
        font-size: 25px;
        
    }
    .nav a{       
        font-size: 13px;
    }
 
    .obj p{
        font-size: 1.4em;
    }
    #Inicio{
        margin: 0%;
    }
    .estructura{
        height: 90%;      

    }
    .arts{
        height: 40vh;  
  
    }
    .arts img{
        width: 70%;
    }
    
    #Objetivos{
        margin: 0%;
    }
    #Productos{
        margin: 0%;
    }

}

@media all and (min-width:1280px){
    body{
        background-color: rgb(3, 3, 3, .1);
    }
   
    .pie{     
        width: 60%;    
    }
    .obj{
        padding: 1%;
    }

    .der{    
               
        width: 50%;
        height: 50%;
    }
    .der:hover {
        width: 90%;
        height: 90%;
    }
}